fastapi==0.115.0
uvicorn[standard]==0.32.0
sqlalchemy==2.0.35
greenlet==3.1.1
asyncpg==0.30.0
alembic==1.13.3
pydantic==2.9.2
pydantic-settings==2.5.2
httpx[socks]==0.27.2
networkx==3.2.1
dnspython==2.7.0
phonenumbers==8.13.48
beautifulsoup4==4.12.3
Pillow==11.0.0
python-multipart==0.0.12
pymupdf>=1.24
python-docx>=1.1
openpyxl>=3.1
cryptography>=43.0
pytest==8.3.3
pytest-asyncio==0.24.0
opencv-python-headless>=4.10
numpy>=1.26
holehe==1.61
trio==0.34.0
Scrapy==2.11.2
sherlock-project>=0.16.0
pic2map>=0.1.0
exifread>=3.5.0
setuptools<70
instalooter>=2.4.4
instaloader>=4.14.0
youtube-transcript-api>=1.2.4
maigret>=0.6.5
socialscan>=2.0.1
bcr-api>=1.5.1
hootsweet>=0.7.1
